.meni{
 background-color: rgb(102, 179, 255);
 margin: 0 auto;
 width: 1000px;
 height: 120px;
 margin-top: 3%;
 position: relative;
 text-align: center;
 font-size: 20px;
} 
.meni li{
 display: inline-block;
 margin-right: 5%;
 align-items: center;
 position: relative;
} 
a{
  color: black;
}
#sale{
	text-decoration: none;
}
.logo{
  display: block;
  margin-left: auto;
  height: 50px;
  margin-right: auto;
  transform: translateY(-50%);
}
#slika{
	width: 100px;
}
.sadrzaj{
	background-color: rgb(102, 179, 255);
	margin: 0 auto;
	position: relative;
	width: 1000px;
 	height: 550px;
 	margin-top: 1%;
}
.tabelaSala{
	 margin: 0 auto;
	 background-color: white;
	 border-collapse: collapse;
	 width: 50%; 
}
.tabelaSala td{
	border: 1px solid grey;
}
#nemaBordera{
	border: none;
	background-color: rgb(102, 179, 255);
}
.headerSprat{
	background-color: rgb(166, 166, 166);
	text-align: right;	
	height: 40px;
	padding: 10px 10px;
	font-family: Arial;
}
.headerRedni{
	background-color: rgb(204, 204, 204);
	text-align: left;
	width: 90px;
	padding: 10px 10px;
	font-family: Arial;
}
.slobodnaSala{
	background-color: rgb(102, 255, 102);
}
.zauzetaSala{
	background-color: rgb(255, 92, 51);
}
.kancelarija{
	background-color: rgb(179, 179, 179);
}
.sala{
	text-align: left;
	vertical-align: top;
	width: 10px;
}
.poravnanje{
	text-align: center;
}
.poravnanje2{
	vertical-align:bottom;
	text-align:center;
}
@media only screen and (max-width: 600px){
	.meni li{
		display: block;	
	}
	.meni{
		text-align: left;
		height: 210px;
	}
	.logo{
		text-align: center;
	}
	.headerSprat{
		background-color: rgb(102, 179, 255);
		display: none;
	}
	.headerRedni{
		background-color: rgb(102, 179, 255);
		display: none;
	}
	.tabelaSala{
		float: left;
		margin-left: 20px;
	}
	#nemaBordera{
		display: none;
	}
	.sala{
		padding-bottom: 10px;
		width: 50px;
	}
	.sadrzaj{
		height: 350px;
	}
}